cloud-build-beta.yaml
cloud-build-deploy.yaml
docker-compose*
Dockerfile*
jsconfig.json
LICENSE
node_modules/
npm-debug.log
scripts/
stories/
README.md
.env.local
.dockerignore
.git/
.github/
.gitignore
.next/
.storybook/
.vscode/
.build/